<div class="job-search-sec">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form class="register-form" #registerForm="ngForm" [style.fontSize.px]=20>
                <div class="register-block">
                    <div class="row">
                        <mat-form-field class="register-input-full-width">
                            <input id="email" matInput placeholder="Email Address" [(ngModel)]="newUser.email" name="email" required #email="ngModel">
                            <mat-error *ngIf="email.invalid">Email is mandatory</mat-error>
                        </mat-form-field>
                        <mat-form-field class="register-input-full-width">
                            <input id="name" matInput placeholder="Full Name" [(ngModel)]="newUser.name" name="name" required #name="ngModel">
                            <mat-error *ngIf="name.invalid">Full Name is mandatory</mat-error>
                        </mat-form-field>
                        <mat-form-field class="register-input-full-width">
                            <input id="userId" matInput placeholder="User Id" [(ngModel)]="newUser.userId" name="userId" required minlength="5" maxlength="10" #userId="ngModel">
                            <mat-error *ngIf="userId.invalid">User Id: must be 5 to 10 characters long</mat-error>
                        </mat-form-field>
                        <mat-form-field class="register-input-full-width">
                            <input id="password" matInput placeholder="Password" type="password" [(ngModel)]="newUser.password" name="password" required #password="ngModel">
                            <mat-error *ngIf="password.invalid">Password is mandatory</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <button class="register-user" id="register" type="submit" mat-raised-button (click)="registerUser()" color="primary">Register</button> &nbsp;&nbsp;
                        <button type="reset" mat-raised-button color="primary">Clear</button>
                    </div>

                </div>
            </form>
        </mat-card-content>
    </mat-card>

</div>