<div class="page-header header-filter" data-parallax="true" style="background-image: url(../assets/profile_city.jpg); transform: translate3d(0px, 233.333px, 0px);">

</div>
<div class="main main-raised">
  <div class="container">
      <div class="section text-center">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                  <h2 class="title">Job List</h2>
              </div>
              <div class="widget" style="margin-top: -325px;">
                    <form class="example-form" style="background-color: #fff;border: 2px solid #e8ecec;border-radius: 34px;">
                            <mat-form-field class="example-full-width">
                                <input matInput type="text" id="search-button-input" placeholder="Search by category" #box (keyup.enter)="onEnter(box.value)" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                                {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </form>
                </div>
          </div>
          <section>
              <div class="block no-padding">
                  <div class="container">
                      <div class="row no-gape">
                          <div class="col-lg-12 column">
                              <!-- MOdern Job LIst -->
                              <div class="job-list-modern">
                                  <div class="job-listings-sec">
                                      <div class="job-listing wtabs" *ngFor="let job of jobs">
                                          <div class="job-title-sec" >
                                              <div class="c-logo"> <img src="../assets/11.png" alt=""> </div>
                                              <h3><a [routerLink]="['../',job.id]" title="">{{job?.name}}</a></h3>
                                              <span>{{job.company.name}}</span>
                                              <div class="job-lctn"><i class="la la-map-marker"></i>{{job.locations[0].name}}</div>
                                          </div>
                                          <div class="job-style-bx">
                                              <span class="job-is ft" (click)="addToBookmarkList(job)">BOOKMARK</span>
                                              <span class="fav-job"><i class="la la-heart-o"></i></span>
                                              <i>{{job?.publication_date}}</i>
                                          </div>
                                      </div>


                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>

  </div>
</div>



<footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="https://www.creative-tim.com/">
              Job Hunter
            </a>
          </li>
          <li>
            <a href="https://creative-tim.com/presentation">
              About Us
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        ©
        <script>
          document.write(new Date().getFullYear())
        </script>2019, made with <i class="material-icons">favorite</i> by
        <a href="https://www.creative-tim.com/" target="_blank">Deathwisher</a> for a better web.
      </div>
    </div>
  </footer>